{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">


<ul>
  {% assign posts=site.posts | where:"language_ref", page.language_ref | sort: 'language' %}
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}" class="{{ post.language }}">{{ post.language }}</a>
    </li>
  {% endfor %}
  
  {% assign pages=site.pages | where:"language_ref", page.language_ref | sort: 'language' %}
  {% for page in pages %}
    <li>
      <a href="{{ page.url }}" class="{{ page.language }}">{{ page.language }}</a>
    </li>
  {% endfor %}
  </ul>