---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <ul>
      {% assign posts=site.posts | where:"language_ref", page.language_ref | sort: 'language' %}
      {% for post in posts %}
        <li>
          <a href="{{ post.url }}" class="{{ post.language }}">{{ post.language }}</a>
        </li>
      {% endfor %}
      
      {% assign pages=site.pages | where:"language_ref", page.language_ref | sort: 'language' %}
      {% for page in pages %}
        <li>
          <a href="{{ page.url }}" class="{{ page.language }}">{{ page.language }}</a>
        </li>
      {% endfor %}
      </ul>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %} 
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
